/* App.css */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* You can remove or adjust the styles below if they're not needed */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
#quote-box {
  margin: auto; 
  max-width: 345px;
  width: 100%;
}